html, body{
   width: 100%;
   height: 100%;
}

/* Carddass Machine Wrapper */
.carddass_machine_wrapper{
    left: 250px;
    width: 700px;  /* 50px per column */
    height: 700px;  /* 14 rows */
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-auto-rows: 50px;
    border: solid red;
}

.box_card_output{
    grid-column: 1 / 8;
    grid-row: 1 / 9;
    border: solid black;
}

.box_coin_insert{
    grid-column: 8 / 12;
    grid-row: 1 / 5;
    border: solid black;
}

.box_knob{
    grid-column: 8 / 12;
    grid-row: 5 / 9;
    border: solid black;
}

.box_wallet{
    width: 200px;
    height: 200px;
    grid-column: 11 / 16;
    grid-row: 11 / 16;
    border: solid black;
}

.box_coin{
    grid-column: 12 / 13;
    grid-row: 11 / 12;
    border: solid black;
    opacity: 0;
}

/* Card Drawing Animations */

.card-background{
   position: relative;
   background-image: url("75957635_p0.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 50%;
   height: 80%;
}

.card-message{
   position: relative;
   width: 50%;
   height: 80%;
   top: -80%;
}

.hidden-backside{
   position: absolute;
   display: none;  
}

.blurred{
	blur: 1000px;
}

/* Coin Insert Specifications */
.coin_hole{
    background-image: url("coin_insert.jpg");
    background-size: contain;
    repeat: no-repeat;
}

.drop_target {
    position: relative;
    width: 100px;
    height: 100px;
    left: 25%;
    top: 25%;
}


/* Coin Specifications */

.coin{
    width: 50px;
    height: 50px;
}

.coin_front{
    background-image: url("coin front.jpg");
    background-size: 50px;
}

.coin_back{
    background-image: url("coin back.jpg");
    background-size: 50px;
}

.coin_side{
    width: 10px;
    height: 50px;
}


/* Knob Specifications */

#knob_img{
   width: 200px;
   height: 200px;
}

.knob_turned{
    transform: rotate(360deg);
    transition: transform 1s ease-in;
}