html, body{
   width: 100%;
   height: 100%;
}

.knob_container{
    width: 100px;
    height: 100px;
}

.knob{
    background-image: "knob.jpg";
    repeat: no-repeat;
}

.unturned{
}

@keyframe knob_turning{
    from{
        transform: rotateX(0deg) rotateY(0deg);
    }
    to{
        transform: rotateX(180deg) rotateY(180deg);
    }
}

.turned{
    animation: 
}
